*.log
wp-config.php
.htaccess
cms/wp-content/advanced-cache.php
cms/wp-content/backup-db/
cms/wp-content/backups/
cms/wp-content/blogs.dir/
cms/wp-content/cache/
cms/wp-content/upgrade/
cms/wp-content/uploads/
cms/wp-content/wp-cache-config.php
cms/wp-content/plugins/hello.php
cms/.htaccess
content/uploads

/.htaccess
/license.txt
/readme.html
/sitemap.xml
/sitemap.xml.gz