// --------------------------------------------------------------
// ## - Extends for fonts
// --------------------------------------------------------------


%textCenter {
    text-align: center;
}

%textWhite {
    color: $white;
}

%textPrimary {
    color: paleteColor();
}

%uppercase {
    text-transform: uppercase;
}



// ## - Font sizes
// --------------------------------------------------------------
%fsXXSmall {
    font-size: $fsXXSmall;
}

%fsXSmall {
    font-size: $fsXSmall;
}

%fsSmall {
    font-size: $fsSmall;
}

%fsBase {
    font-size: $fsBase;
}

%fsLarge {
    font-size: $fsLarge;
}

%fsXLarge {
    font-size: $fsXLarge;
}

%fsXXLarge {
    font-size: $fsXXLarge;
}

%fsXXXLarge {
    font-size: $fsXXXLarge;
}



// ## - Font weight
// --------------------------------------------------------------
%fwlight {
    font-weight: lighter;
}

%fwNormal {
    font-weight: normal;
}

%fwBold {
    font-weight: bold;
}


// ## - Line height
// --------------------------------------------------------------
%lhMin {
    line-height: em($lhMin);
}

%lhBase {
    line-height: em($lhBase);
}

%lhBase1 {
    line-height: em($lhBase1);
}

%lhBase2 {
    line-height: em($lhBase2);
}

%lhDoble {
    line-height: em($lhDoble);
}

%lhTriple {
    line-height: em($lhTriple);
}
