// 
// Extends for repetitive pattern CSS code
// 

// --------------------------------------------------------------
// ## - Repetitive pattern CSS code
//---------------------------------------------------------------

@import "fonts";
@import "forms";
@import "paddings";


// ## - ClearFix
// --------------------------------------------------------------
%clearfix {
    &::after{
        content: "";
        display: block;
        clear: both;
    }
}





