// ## - Paddings
// --------------------------------------------------------------
%padding5{
    padding: em($padding5);
} 

%padding10{
    padding: em($padding10);
} 

%paddingBase{
    padding: em($paddingBase);
} 

%padding20{
    padding: em($padding20);
}

%padding25{
    padding: em($padding25);
}

%padding30{
    padding: em($padding30);
}

%padding60{
    padding: em($padding60);
}

%padding120{
    padding: em($padding120);
}