/* ## - Styles for the BlockList
---------------------------------------------------------------*/

/*
	An UL with items display like blocks
*/

.BlockList{
	margin: 0;
	padding: 0;
	&-left {
		width: 100%;
		height: 150px;
		margin-bottom: 15px;
		& img{
			display: none;
		}
		@include breakpoint(768px){
			width: 30%;
			display: inline-block;
			vertical-align: top;
			height: 150px;
		}
	}
	&-right{
		margin-left: 1%;
		width: 68%;
		display: inline-block;
	}
}

.BlockList-item{
	list-style: none;
	margin: 0;
	padding: 15px 0;
	border-bottom: 1px solid #314582;
}

.BlockList-itemTitle{
	color: #314582;
}

.BlockList-itemDescription{
	margin: 0 0 5px 0;
}

.BlockList-itemText{
	display: block;
	color: gray;
	font-size: 14px;
}

.TextBold {
	@extend %fwBold;
}