/* --------------------------------------------------------------
## - Styles for the search calendar form
-------------------------------------------------------------- */

.wrap{
	padding: 15px;
}

.SearchCalendar input,
.SearchCalendar select {
	width: 100%;
    border: 1px solid #7b7b7b;
    background: #efefef;
    margin: 0;
}

.SearchCalendar-group{
	margin-bottom: 30px;
}

.SearchCalendar-btn input {
	border: none;
	padding: 20px 35px;
	background: #3f59a4;
    color: #fff;
    font-size: larger;
    font-weight: 700;
}

.SearchCalendar-textLabel {
    margin: 0;
}

.SearchCalendar-btn input:hover {
	background: #314582;
}

.SearchCalendar-cols::after{
	content: "";
	display: block;
	clear: both;
}

.SearchCalendar-col1{
	float: left;
	width: 48%;
	margin-right: 2%
}

.SearchCalendar-col2{
	float: right;
	width: 48%;
}

@media screen and  (min-width: 960px) {
	.SearchCalendar-col-1,
	.SearchCalendar-col-2,
	.SearchCalendar-col-3 {
		float: left;
		width: 32%
	}
	.SearchCalendar-col-2 {
		margin: 0 1%;
	}

    .SearchCalendar-btn input {
        width: 20%;
        margin: 0 auto;
        display: block;
    }
}

.btn-volver  {
	display: block;
	text-align: center;
	margin: 0 auto;
	padding: 10px;
	background: #314582;
	color: #fff;
	font-size: 12px;
	&:hover{
		color: #fff;
		background: #2b3d74;
	}
	@include breakpoint(950px){
		width: 30%;
	}
}