// 
// General configuration and variables for the theme
// 





// --------------------------------------------------------------
// ## - Fonts
// --------------------------------------------------------------

// ## - General variables
// --------------------------------------------------------------
$baseFontSize: 16px;
$baseLine: 24px;

// ## - Font sizes
// --------------------------------------------------------------
$fsXXSmall: 10px;
$fsXSmall: 12px;
$fsSmall: 14px;
$fsBase: $baseFontSize;
$fsLarge: 20px;
$fsXLarge: 24px;
$fsXXLarge: 32px;
$fsXXXLarge: 48px;

// ## - Font weights
// --------------------------------------------------------------
$fwThin: 100;
$fwLight: 300;
$fwMedium: 400;
$fwBold: 700;

// ## - Line height
// --------------------------------------------------------------
$lhMin: 18px;
$lhBase: $baseLine !default;
$lhBase1: 30px;
$lhBase2: 35px;
$lhDoble: 48px;
$lhTriple: 72px;





// --------------------------------------------------------------
// ## - Colors
// --------------------------------------------------------------

// ## - Descriptipon base colors
// --------------------------------------------------------------
$blue: #5069B0;
$darkBlue: #2B3158;
$white: #fff;
$gray: #d1d1d1;
$black: #000;

// ## - Color palete
// --------------------------------------------------------------
$paleteColors: (
    primary: (
        xxLight: lighten($blue, 45%), 
        xLight: lighten($blue, 20%),
        light: lighten($blue, 10%),
        base: $blue,
        dark: darken($blue, 10%),
        xDark: darken($blue, 20%),
        xxDark: darken($blue, 45%),
    ),
    grays: (
        xxLight: lighten($gray, 45%), 
        xLight: lighten($gray, 20%),
        light: lighten($gray, 10%),
        base: $gray,
        dark: darken($gray, 10%),
        xDark: darken($gray, 20%),
        xxDark: darken($gray, 45%),
    )
);





// --------------------------------------------------------------
// ## - Paddings
// --------------------------------------------------------------

$padding5: 5px;
$padding10: 10px;
$paddingBase: 15px !default;
$padding20: 20px;
$padding25: 25px;
$padding30: 30px;
$padding60: 60px;
$padding120: 120px;
