// Style to fix the margin column
.vc_row {
    margin: 0 !important;
}

// Style to fix the top margin on the banner in the home page
.home [role = main] {
    padding-top: em(15px) !important;
}

// Styles for add space between widgets in the sidebar
.widget-container {
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid paleteColor();
    @include breakpoint (992px) {
        margin-left: 30px !important;
    }
}

// Color for the widget title
.widget-title {
    color: paleteColor();
}

// Hide Facebook icon in header and footer
.socialMedia {
    li {
        &:first-child{
            display: none;
        }
    }
}